#main {
    background: #eeeeee;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
#img-div {
    align-content: center;
}
body {
    text-align: center;
}
#list{
    text-align: center;
}
@media only screen and (max-width: 480px){
        #image {
            background-color: white;
            height: 100vh;
            width: 100vw;
        }
    }
}